@media print {
  .no-print {
    display: none !important;
  }

  body {
    margin: 0;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Reduce connection thickness on hover */
.bjs-container .djs-connection-hover path {
  stroke-width: 2 !important;  /* lower than the default 4 */
}

/* Reduce the outline thickness when hovering over shapes */
.bjs-container .djs-element-hover .djs-outline {
  stroke-width: 2 !important;  /* adjust to your preference */
}
